<H1> out_Veggin </h1>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    </span>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Login</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Enter Item Name" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search!</button>
    </form>
  </div>
</nav>
