<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">out_Veggin</span>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id=navbarNav>
      <ul class="navbar-nav">
        <li class="nav-item active">
        <% if user_signed_in?%>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>