<div class="row">
    <div class="jumbotron">
      <div class="col-md-12">
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to out_Veggin!</h1>
    <p class="lead">Whether your here to make a "celery", or
                     "Leek" your lips over these delish Veggies,
                     "Lettuce" show you a great time!</p>
    <hr class="my-4">
      <p>Check out what's trending right now!</p>
  </div>
</div>
    <div class="col-md-6">
    <%= image_tag "carrot"%>
    </div>

    <div class="col-md-6">
    <%= image_tag "lemon"%>
    </div>
    
    </div>
  </div>