// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-img1{
    width: 100%;
    height: 100%;
}

.home-img2{
    width: 100%;
    height: 100%;
}