// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

home_image_one{
    width: 50%;
    height: 50%;
}

home_image_two{
    width: 50%;
    height: 50%;
}